@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: grey;
    border-bottom: 2px solid grey;
    padding: 5px 0;
    transition: all;
}

* {
    font-family: "Lato", serif;
    font-style: normal;
}